:root {
    --th-bg-pink : rgb(230, 164, 180);
    --tr-bg-light-pink : rgb(255, 239, 239);
    --tr-bg-hover :rgb(243, 208, 215);
    --link-btn-black : rgb(61, 59, 64);
}

body {
    font-family: Arial, sans-serif;
    margin: 1rem;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1.task_form {
    display: flex;
    justify-content: center;
}
.help-text {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    max-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    position: relative;
}
label:hover + .help-text {
    display: block;
}

form#task-form {
    margin-top: 7rem;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group.completed label{
    display: flex;
    flex-direction: column;
}


button.btn {
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: var(--link-btn-black);
    background-color: var(--tr-bg-light-pink);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.btn a {
    color: var(--btn-black);
    text-decoration: none;
}
.btn:hover {
    background-color: var(--tr-bg-hover);
}
