<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Task</title>
    {% extends 'tasks/base.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/confirmStyles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% block content %}
    <h1 class="delete_task">Delete Task</h1>
    <div class="confirm_box">
        <!-- <p>Are you sure you want to delete "{{ task.title }}"?</p> -->
        {% csrf_token %}
        <button class="btn" id="confirm-delete" data-url="{% url 'task_delete' task.pk %}">Yes, delete</button>
        <a href="{% url 'task_list' %}">Cancel</a>
    </div>
    {% endblock %}

    <script>
        $(document).ready(function() {
            $('#confirm-delete').click(function(event) {
                event.preventDefault();
                var url = $(this).data('url');
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            // Redirect to the task list page after successful deletion
                            window.location.href = "{% url 'task_list' %}";
                        } else {
                            // alert('An error occurred. Please try again.');
                            console.log(response)
                        }
                    },
                    error: function(response) {
                        // alert('An error occurred. Please try again.');
                        console.log(response)
                    }
                });
            });
        });
    </script>
</body>
</html>
