<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Task</title>
    {% extends 'tasks/base.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/confirmStyles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% block content %}
    <h1 class="delete_task">Delete Task</h1>
    <div class="confirm_box">
        <p>Are you sure you want to delete "{{ task.title }}"?</p>
        <form style="box-shadow: none; width: auto;" id="delete-form" method="post" action="{% url 'task_delete' task.pk %}">
            {% csrf_token %}
            <button class="btn"><a href="{% url 'task_list' %}">Cancel</a></button>
            <button type="submit" class="btn">Yes, delete</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>


